# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/
docs/
# Logs
logs/

# Database
*.db

# Storage
storage/clips/
storage/screenshots/
storage/reports/

# Models
models/trained/
models/checkpoints/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment
.env